    <!-- Las etiquetas son bloques especiales que realizan operaciones sobre las plantillas -->
    <h1>TAGS</h1>

    <h2>if:</h2>
    <!-- if, muestra contenido selectivamente, dependiendo si se cumple o no la condición -->
{% if variable %}
    <i>"variable"</i> es <b>TRUE</b>.
{% endif %}

    <h2>for:</h2>
    <!-- for, puede iterar sobre arreglos y diccionarios -->
{% for movie in movies %}
    <div style="display: block; margin-bottom: 10px;">
        Name: {{ movie["name"] }} 
        <br>
        Genre: {{ movie["genre"] }}
        <br>
        Release date: {{ movie["releaseDate"] }}
        <br>
        Director: {{ movie["director"] }}
        <br>
        Poster:
        <br>
        <img src="{{ movie["posterUrl"] }}" draggable="false"><img>
    </div>
{% else %}
    The movies list is empty...
{% endfor %}

    <h2>macro:</h2>
    <!-- macro, permite definir trozos de contenido reutilizable (como una función), se pueden
    importar macros desde una plantilla a otra
    -->
{% macro field(name, value='', type='text') %}
    <div>
        <input type="{{ type }}" name="{{ name }}" value="{{ value | escape }}" />
    </div>
{% endmacro %}

{{ field('user') }}
{{ field('pass', type='password') }}
